.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5vw 3rem 5vw;
}
.moblieMenu {
  display: none;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 44%;
  font-family: Gotham A, Gotham B, DIN, sans-serif;
}
.title {
  color: #464e9d;
  font-size: 1.75rem;
}

.logo {
  margin-left: 4rem;
  height: 3.1rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form {
    display: flex;
    justify-content: space-between;
    margin: 0;
    max-width: 768px;
    height: 60px;
    padding: 0px 20px;
  }
  .title,
  .menu {
    display: none;
  }
}
