.background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 99;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  font-size: 2rem;
  width: 100vw;
  height: 20vh;
}
.name {
  color: #464e9d;
}
.body {
  margin: 6vw;
  height: 80vh;
}
.menu {
  display: flex;
  flex-direction: column;
  width: 44%;
  font-family: Gotham A, Gotham B, DIN, sans-serif;
}
.link {
  margin-bottom: 2vh;
}
